# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd 
import numpy as np

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [2]:
# Clean your data here!
balt = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
bost = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
ny = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
phil = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

In [3]:
#drop duplicates
balt_drop = balt.drop_duplicates()
bost_drop = bost.drop_duplicates()
ny_drop = ny.drop_duplicates()
phil_drop = phil.drop_duplicates()
print(f"Baltimore: {balt.shape} : {balt_drop.shape}\nBoston {bost.shape}: {bost_drop.shape}\nNew York {ny.shape}: {ny_drop.shape}\nPhilidelphia {phil.shape}: {phil_drop.shape}")

Baltimore: (153, 25) : (153, 25)
Boston (352, 25): (352, 25)
New York (112, 25): (112, 25)
Philidelphia (57, 25): (57, 25)

In [4]:
for col in balt.columns:
    pct_missing = np.mean(balt[col].isnull())
    print(f'{col} - {round(pct_missing*100)}% missing')

Commodity Name - 0% missing
City Name - 0% missing
Type - 100% missing
Package - 0% missing
Variety - 1% missing
Sub Variety - 84% missing
Grade - 100% missing
Date - 0% missing
Low Price - 0% missing
High Price - 0% missing
Mostly Low - 0% missing
Mostly High - 0% missing
Origin - 3% missing
Origin District - 100% missing
Item Size - 16% missing
Color - 80% missing
Environment - 100% missing
Unit of Sale - 84% missing
Quality - 100% missing
Condition - 100% missing
Appearance - 100% missing
Storage - 100% missing
Crop - 100% missing
Repack - 0% missing
Trans Mode - 100% missing

In [5]:
balt_missing_70 = balt[balt.columns[(balt.isna().mean()*100 >= 70)]] 
balt_2 = balt.drop(balt_missing_70, axis = 1)
print(f"{balt.shape}: {balt_2.shape}")
balt_2.head()

(153, 25): (153, 12)

,Commodity Name,City Name,Package,Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,04/29/2017,270,280.0,270,280.0,NaN,lge,E
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,05/06/2017,270,280.0,270,280.0,NaN,lge,E
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,DELAWARE,med,N
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,VIRGINIA,med,N
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,11/05/2016,90,100.0,90,100.0,MARYLAND,lge,N

In [6]:
for col in bost.columns:
    pct_missing = np.mean(bost[col].isnull())
    print(f'{col} - {round(pct_missing*100)}% missing')
bost_missing_70 = bost[bost.columns[(bost.isna().mean()*100 >= 70)]] 
bost_2 = bost.drop(bost_missing_70, axis = 1)
print(f"{bost.shape}: {bost_2.shape}")

Commodity Name - 0% missing
City Name - 0% missing
Type - 100% missing
Package - 0% missing
Variety - 0% missing
Sub Variety - 92% missing
Grade - 100% missing
Date - 0% missing
Low Price - 0% missing
High Price - 0% missing
Mostly Low - 0% missing
Mostly High - 0% missing
Origin - 0% missing
Origin District - 81% missing
Item Size - 1% missing
Color - 14% missing
Environment - 100% missing
Unit of Sale - 87% missing
Quality - 100% missing
Condition - 100% missing
Appearance - 100% missing
Storage - 100% missing
Crop - 100% missing
Repack - 0% missing
Trans Mode - 100% missing
(352, 25): (352, 13)

In [7]:
for col in ny.columns:
    pct_missing = np.mean(ny[col].isnull())
    print(f'{col} - {round(pct_missing*100)}% missing')
ny_missing_70 = ny[ny.columns[(ny.isna().mean()*100 >= 70)]] 
ny_2 = ny.drop(ny_missing_70, axis = 1)
print(f"{ny.shape}: {ny_2.shape}")

Commodity Name - 0% missing
City Name - 0% missing
Type - 100% missing
Package - 0% missing
Variety - 0% missing
Sub Variety - 84% missing
Grade - 100% missing
Date - 0% missing
Low Price - 0% missing
High Price - 0% missing
Mostly Low - 0% missing
Mostly High - 0% missing
Origin - 0% missing
Origin District - 87% missing
Item Size - 7% missing
Color - 81% missing
Environment - 100% missing
Unit of Sale - 78% missing
Quality - 100% missing
Condition - 100% missing
Appearance - 100% missing
Storage - 100% missing
Crop - 100% missing
Repack - 0% missing
Trans Mode - 100% missing
(112, 25): (112, 12)

In [8]:
for col in phil.columns:
    pct_missing = np.mean(phil[col].isnull())
    print(f'{col} - {round(pct_missing*100)}% missing')
phil_missing_70 = phil[phil.columns[(phil.isna().mean()*100 >= 70)]] 
phil_2 = phil.drop(phil_missing_70, axis = 1)
print(f"{phil.shape}: {phil_2.shape}")

Commodity Name - 0% missing
City Name - 0% missing
Type - 100% missing
Package - 0% missing
Variety - 0% missing
Sub Variety - 79% missing
Grade - 100% missing
Date - 0% missing
Low Price - 0% missing
High Price - 0% missing
Mostly Low - 0% missing
Mostly High - 0% missing
Origin - 0% missing
Origin District - 100% missing
Item Size - 21% missing
Color - 100% missing
Environment - 100% missing
Unit of Sale - 81% missing
Quality - 100% missing
Condition - 100% missing
Appearance - 100% missing
Storage - 100% missing
Crop - 100% missing
Repack - 0% missing
Trans Mode - 100% missing
(57, 25): (57, 12)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [16]:
# Combine the four dataframes into one!
pumpkins = pd.concat([bost_2, balt_2,ny_2, phil_2]) 
pumpkins.shape

(674, 13)

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [38]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

package_bin = pumpkins.groupby("Package").mean()
package_bin.head()

#package_bin_2 = package_bin.head().agg("mean", numeric_only = True)
#package_bin_2

                       Low Price  High Price  Mostly Low  Mostly High
Package
1 1/9 bushel cartons   15.875000   16.739583   15.875000    16.489583
1 1/9 bushel crates    16.058824   16.705882   16.058824    16.058824
1/2 bushel cartons     16.030928   17.597938   16.092784    16.639175
24 inch bins          188.005618  202.808989  195.421348   201.994382
36 inch bins          170.458861  196.550633  177.373418   184.905063

In [40]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
package_bin_3 = package_bin[package_bin["Low Price", "High Price"]]
package_bin_3.head()

KeyError: ('Low Price', 'High Price')

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!